@charset "UTF-8";

@font-face {
  font-family: "Akrobat";
  font-display: swap;
  src: url("../fonts/Akrobat.woff2") format("woff2"), url("../fonts/Akrobat.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Akrobat";
  font-display: swap;
  src: url("../fonts/Akrobatbold.woff2") format("woff2"), url("../fonts/Akrobatbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Akrobat";
  font-display: swap;
  src: url("../fonts/Akrobatextrabold.woff2") format("woff2"), url("../fonts/Akrobatextrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Akrobat";
  font-display: swap;
  src: url("../fonts/Akrobatlight.woff2") format("woff2"), url("../fonts/Akrobatlight.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Akrobat";
  font-size: 3rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Akrobat";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Akrobat";
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  position: relative;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 87.8125rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 3.125rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

h1 {
  font-family: "Akrobat";
  font-weight: 800;
  font-size: 15.625rem;
  line-height: 1.2;
  text-transform: uppercase;
  color: #fff;
}

h2 {
  font-family: "Akrobat";
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.625rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h2 span {
  color: #E9E5DC;
  text-transform: lowercase;
  white-space: nowrap;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

h3 {
  font-family: "Akrobat";
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

._section-logo {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 3.125rem;
}

ul li {
  font-weight: 500;
  line-height: 1;
}

input,
textarea {
  border: 0.125rem solid #FFFFFF;
  font-family: "Akrobat";
  font-weight: 500;
  line-height: 132%;
  background: #000;
  color: #FFFFFF;
  width: 100%;
  outline: none;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #fff;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #fff;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #fff;
}

input::-ms-input-placeholder, textarea::-ms-input-placeholder {
  color: #fff;
}

input::placeholder,
textarea::placeholder {
  color: #fff;
}

textarea {
  resize: vertical;
}

form button {
  font-family: "Akrobat";
  font-weight: 400;
  line-height: 132%;
  color: #000;
  text-align: left;
  background: #fff;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.header {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  background: #E9E5DC;
  border-bottom: 2px solid #000000;
  padding: 23px 0 20px;
  z-index: 5;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__link {
  font-family: "Akrobat";
  font-weight: 500;
  font-size: 2rem;
  line-height: 81%;
  text-transform: uppercase;
  color: #000000;
}

.menu__overlay {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.2);
}

.menu-open .menu__overlay {
  pointer-events: all;
}

.menu__icon-wrapper {
  position: absolute;
  right: 0;
  top: calc(100% + 4.5625rem);
}

.icon-menu {
  display: none;
}

.footer {
  background: #000;
}

.footer h2 {
  color: #fff;
}

.footer__container {
  position: relative;
}

.footer__decor {
  position: absolute;
}

.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
}

.footer__social a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__social a svg path {
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.footer__social a:hover svg path {
  fill: #E9E5DC;
}

.intro__container {
  max-width: 90rem;
  padding: 0 !important;
}

.intro__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.intro__left {
  position: relative;
  width: 100%;
  min-width: 51.125rem;
}

.intro__left h1 {
  line-height: 0.8;
  position: absolute;
  bottom: -1.25rem;
  left: 2.5rem;
}

.intro__left img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.intro__right {
  min-width: 26.875rem;
  padding-top: 5.9375rem;
  max-width: 38.875rem;
  width: 100%;
}

.intro__right img {
  width: 100%;
}

.intro__slogan {
  padding: 2.8125rem 3.125rem 0 2.8125rem;
  font-weight: 400;
  font-size: 2.8125rem;
  line-height: 3.375rem;
  text-align: justify;
  text-transform: uppercase;
}

.intro__text {
  font-weight: 500;
  line-height: 1.2;
  text-align: justify;
}

.services__header {
  background: #000;
}

.services__header h3 {
  text-align: right;
  color: #fff;
}

.services__header .services__container {
  position: relative;
  overflow: hidden;
}

.services.services--additional .services__header {
  background: #E9E5DC;
}

.services.services--additional .services__header h3 {
  color: #000;
}

.services__item {
  position: relative;
}

.services__item ul li:nth-child(-n+3) {
  display: block;
}

.services__item ul li {
  display: none;
}

.services__item p {
  font-weight: 500;
  line-height: 1.2;
  text-align: justify;
}

.services .services__decor,
.services .services__decor-big {
  position: absolute;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.services__show-more {
  margin-top: 0.625rem;
}

@media (min-width: 90.5625em) {
  form button {
    font-size: 2.25rem;
  }
}

@media (min-width: 94.0625em) {
  ._section-header {
    margin-bottom: 6.875rem;
  }

  ._section-header h3 {
    padding-top: 2.3125rem;
  }

  ._section-header h3 {
    padding-bottom: 2.3125rem;
  }

  ._section-logo {
    height: 9.375rem;
  }

  .menu__list {
    gap: 7.5rem;
  }

  .intro__text {
    margin-top: 2.5rem;
  }

  .intro__text {
    margin-bottom: 2.5rem;
  }

  .services__item {
    margin-bottom: 6.25rem;
  }
}

@media (min-width: 90em) {
  h2 {
    font-size: 4rem;
  }

  h2 {
    margin-bottom: 3.75rem;
  }

  h2 span {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.5rem;
  }

  ul li {
    font-size: 3rem;
  }

  input,
  textarea {
    padding: 1.5625rem;
  }

  input,
  textarea {
    font-size: 2.25rem;
  }

  form button {
    padding-top: 1.25rem;
  }

  form button {
    padding-bottom: 1.25rem;
  }

  form button {
    padding-left: 1.875rem;
  }

  form button {
    padding-right: 8.9375rem;
  }

  .footer {
    padding-top: 8.25rem;
  }

  .footer {
    padding-bottom: 23.3125rem;
  }

  .footer h2 {
    margin-bottom: 4.6875rem;
  }

  .footer__decor {
    top: 4.9375rem;
  }

  .footer__decor {
    right: -4.4375rem;
  }

  .footer__decor {
    width: 22rem;
  }

  .footer__form {
    gap: 1.375rem;
  }

  .footer__form {
    max-width: 52.625rem;
  }

  .footer__form {
    margin-bottom: 2.8125rem;
  }

  .intro__text {
    font-size: 2.1875rem;
  }

  .services__item p {
    font-size: 3rem;
  }

  .services__item .services__decor {
    top: 0.625rem;
  }

  .services__item .services__decor {
    right: 1.9375rem;
  }

  .services__item .services__decor {
    width: 10.5625rem;
  }

  .services__item .services__decor-big {
    top: 8.75rem;
  }

  .services__item .services__decor-big {
    right: 11.1875rem;
  }

  .services__item .services__decor-big {
    width: 17.375rem;
  }

  .services__item.active .services__decor {
    top: 15.8125rem;
  }

  .services__item.active .services__decor {
    right: 1.9375rem;
  }

  .services__item.active .services__decor-big {
    top: 24.75rem;
  }

  .services__item.active .services__decor-big {
    right: 11.1875rem;
  }

  .services__show-more {
    font-size: 3rem;
  }
}

@media (max-width: 20em) {
  ._section-header {
    margin-bottom: 2.5rem;
  }

  ._section-header h3 {
    padding-top: 0.8125rem;
  }

  ._section-header h3 {
    padding-bottom: 0.8125rem;
  }

  ._section-logo {
    height: 4.0625rem;
  }

  .menu__list {
    gap: 3.75rem;
  }

  .intro__text {
    margin-top: 1.875rem;
  }

  .intro__text {
    margin-bottom: 1.875rem;
  }

  .services__item {
    margin-bottom: 2.5rem;
  }
}

@media (max-width: 78.125em) {
  .intro__left h1 {
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }

  .intro__left {
    min-width: 0;
  }

  .intro__right {
    display: none;
  }
}

@media (max-width: 47.99875em) {
  [class*=__container] {
    padding: 0 2.5rem;
  }

  h2 {
    margin-bottom: 1.25rem;
  }

  h3 {
    font-size: 1.625rem;
  }

  ul li {
    font-size: 1.5rem;
  }

  .menu {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .menu__body {
    position: absolute;
    top: -50vh;
    left: -3.125rem;
    -webkit-transition: top 0.5s ease;
    -o-transition: top 0.5s ease;
    transition: top 0.5s ease;
    width: calc(100% + 6.25rem);
    background: #E9E5DC;
    border-bottom: 2px solid #000000;
  }

  .menu-open .menu__body {
    z-index: 2;
    position: absolute;
    top: 5rem;
    padding: 1.25rem;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 2.5625rem;
    height: 1.5rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.1875rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .footer h2 {
    margin-bottom: 1.25rem;
  }

  .footer__form {
    gap: 0.625rem;
  }

  .footer__social {
    gap: 0.6875rem;
  }

  .intro__text {
    font-size: 1.5rem;
  }

  .services__item p {
    font-size: 1.75rem;
  }

  .services__show-more {
    font-size: 1.5rem;
  }
}

@media (max-width: 47.99875em) and (max-width: 20em) {
  h2 {
    font-size: 1.625rem;
  }

  h2 span {
    font-size: 1.125rem;
  }

  input,
  textarea {
    padding: 0.625rem;
  }

  input,
  textarea {
    font-size: 1.125rem;
  }

  form button {
    padding-top: 0.5rem;
  }

  form button {
    padding-bottom: 0.5rem;
  }

  form button {
    padding-left: 0.75rem;
  }

  form button {
    padding-right: 3.125rem;
  }

  form button {
    font-size: 1.25rem;
  }

  .footer {
    padding-top: 1.5625rem;
  }

  .footer {
    padding-bottom: 9.375rem;
  }

  .footer__decor {
    top: 1.25rem;
  }

  .footer__decor {
    right: -2.5rem;
  }

  .footer__decor {
    width: 8.75rem;
  }

  .footer__form {
    max-width: 17.5rem;
  }

  .footer__form {
    margin-bottom: 1.25rem;
  }

  .services__item .services__decor {
    top: -1.875rem;
  }

  .services__item .services__decor {
    right: -0.9375rem;
  }

  .services__item .services__decor {
    width: 2.8125rem;
  }

  .services__item .services__decor-big {
    top: 1.25rem;
  }

  .services__item .services__decor-big {
    right: -0.75rem;
  }

  .services__item .services__decor-big {
    width: 6.875rem;
  }

  .services__item.active .services__decor {
    top: 1.25rem;
  }

  .services__item.active .services__decor {
    right: -0.9375rem;
  }

  .services__item.active .services__decor-big {
    top: 6.25rem;
  }

  .services__item.active .services__decor-big {
    right: -0.75rem;
  }
}

@media (max-width: 29.99875em) {
  [class*=__container] {
    padding: 0 1.25rem;
  }
}

@media (max-width: 26.24875em) {
  .footer__decor {
    top: auto !important;
    bottom: -2.5rem;
  }
}

@media (min-width: 48em) and (max-width: 90em) {
@supports (font-size: clamp( 2rem , -0.2857142857rem  +  4.7619047619vw , 4rem )) {
    h2 {
      font-size: clamp( 2rem , -0.2857142857rem  +  4.7619047619vw , 4rem );
    }
}

@supports not (font-size: clamp( 2rem , -0.2857142857rem  +  4.7619047619vw , 4rem )) {
    h2 {
      font-size: calc(2rem + 2 * (100vw - 48rem) / 42);
    }
}

@supports (margin-bottom: clamp( 1.875rem , -0.2678571429rem  +  4.4642857143vw , 3.75rem )) {
    h2 {
      margin-bottom: clamp( 1.875rem , -0.2678571429rem  +  4.4642857143vw , 3.75rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , -0.2678571429rem  +  4.4642857143vw , 3.75rem )) {
    h2 {
      margin-bottom: calc(1.875rem + 1.875 * (100vw - 48rem) / 42);
    }
}

@supports (font-size: clamp( 1.5rem , -1.3571428571rem  +  5.9523809524vw , 4rem )) {
    h2 span {
      font-size: clamp( 1.5rem , -1.3571428571rem  +  5.9523809524vw , 4rem );
    }
}

@supports not (font-size: clamp( 1.5rem , -1.3571428571rem  +  5.9523809524vw , 4rem )) {
    h2 span {
      font-size: calc(1.5rem + 2.5 * (100vw - 48rem) / 42);
    }
}

@supports (font-size: clamp( 1.625rem , 0.625rem  +  2.0833333333vw , 2.5rem )) {
    h3 {
      font-size: clamp( 1.625rem , 0.625rem  +  2.0833333333vw , 2.5rem );
    }
}

@supports not (font-size: clamp( 1.625rem , 0.625rem  +  2.0833333333vw , 2.5rem )) {
    h3 {
      font-size: calc(1.625rem + 0.875 * (100vw - 48rem) / 42);
    }
}

@supports (font-size: clamp( 1.5rem , -0.2142857143rem  +  3.5714285714vw , 3rem )) {
    ul li {
      font-size: clamp( 1.5rem , -0.2142857143rem  +  3.5714285714vw , 3rem );
    }
}

@supports not (font-size: clamp( 1.5rem , -0.2142857143rem  +  3.5714285714vw , 3rem )) {
    ul li {
      font-size: calc(1.5rem + 1.5 * (100vw - 48rem) / 42);
    }
}

@supports (padding: clamp( 0.75rem , -0.1785714286rem  +  1.9345238095vw , 1.5625rem )) {
    input,
    textarea {
      padding: clamp( 0.75rem , -0.1785714286rem  +  1.9345238095vw , 1.5625rem );
    }
}

@supports not (padding: clamp( 0.75rem , -0.1785714286rem  +  1.9345238095vw , 1.5625rem )) {
    input,
    textarea {
      padding: calc(0.75rem + 0.8125 * (100vw - 48rem) / 42);
    }
}

@supports (font-size: clamp( 1.25rem , 0.1071428571rem  +  2.380952381vw , 2.25rem )) {
    input,
    textarea {
      font-size: clamp( 1.25rem , 0.1071428571rem  +  2.380952381vw , 2.25rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 0.1071428571rem  +  2.380952381vw , 2.25rem )) {
    input,
    textarea {
      font-size: calc(1.25rem + 1 * (100vw - 48rem) / 42);
    }
}

@supports (padding-top: clamp( 0.625rem , -0.0892857143rem  +  1.4880952381vw , 1.25rem )) {
    form button {
      padding-top: clamp( 0.625rem , -0.0892857143rem  +  1.4880952381vw , 1.25rem );
    }
}

@supports not (padding-top: clamp( 0.625rem , -0.0892857143rem  +  1.4880952381vw , 1.25rem )) {
    form button {
      padding-top: calc(0.625rem + 0.625 * (100vw - 48rem) / 42);
    }
}

@supports (padding-bottom: clamp( 0.625rem , -0.0892857143rem  +  1.4880952381vw , 1.25rem )) {
    form button {
      padding-bottom: clamp( 0.625rem , -0.0892857143rem  +  1.4880952381vw , 1.25rem );
    }
}

@supports not (padding-bottom: clamp( 0.625rem , -0.0892857143rem  +  1.4880952381vw , 1.25rem )) {
    form button {
      padding-bottom: calc(0.625rem + 0.625 * (100vw - 48rem) / 42);
    }
}

@supports (padding-left: clamp( 0.9375rem , -0.1339285714rem  +  2.2321428571vw , 1.875rem )) {
    form button {
      padding-left: clamp( 0.9375rem , -0.1339285714rem  +  2.2321428571vw , 1.875rem );
    }
}

@supports not (padding-left: clamp( 0.9375rem , -0.1339285714rem  +  2.2321428571vw , 1.875rem )) {
    form button {
      padding-left: calc(0.9375rem + 0.9375 * (100vw - 48rem) / 42);
    }
}

@supports (padding-right: clamp( 4.375rem , -0.8392857143rem  +  10.8630952381vw , 8.9375rem )) {
    form button {
      padding-right: clamp( 4.375rem , -0.8392857143rem  +  10.8630952381vw , 8.9375rem );
    }
}

@supports not (padding-right: clamp( 4.375rem , -0.8392857143rem  +  10.8630952381vw , 8.9375rem )) {
    form button {
      padding-right: calc(4.375rem + 4.5625 * (100vw - 48rem) / 42);
    }
}

@supports (padding-top: clamp( 2.875rem , -3.2678571429rem  +  12.7976190476vw , 8.25rem )) {
    .footer {
      padding-top: clamp( 2.875rem , -3.2678571429rem  +  12.7976190476vw , 8.25rem );
    }
}

@supports not (padding-top: clamp( 2.875rem , -3.2678571429rem  +  12.7976190476vw , 8.25rem )) {
    .footer {
      padding-top: calc(2.875rem + 5.375 * (100vw - 48rem) / 42);
    }
}

@supports (padding-bottom: clamp( 15.5625rem , 6.7053571429rem  +  18.4523809524vw , 23.3125rem )) {
    .footer {
      padding-bottom: clamp( 15.5625rem , 6.7053571429rem  +  18.4523809524vw , 23.3125rem );
    }
}

@supports not (padding-bottom: clamp( 15.5625rem , 6.7053571429rem  +  18.4523809524vw , 23.3125rem )) {
    .footer {
      padding-bottom: calc(15.5625rem + 7.75 * (100vw - 48rem) / 42);
    }
}

@supports (margin-bottom: clamp( 1.4375rem , -2.2767857143rem  +  7.7380952381vw , 4.6875rem )) {
    .footer h2 {
      margin-bottom: clamp( 1.4375rem , -2.2767857143rem  +  7.7380952381vw , 4.6875rem );
    }
}

@supports not (margin-bottom: clamp( 1.4375rem , -2.2767857143rem  +  7.7380952381vw , 4.6875rem )) {
    .footer h2 {
      margin-bottom: calc(1.4375rem + 3.25 * (100vw - 48rem) / 42);
    }
}

@supports (top: clamp( 2.5rem , -0.2857142857rem  +  5.8035714286vw , 4.9375rem )) {
    .footer__decor {
      top: clamp( 2.5rem , -0.2857142857rem  +  5.8035714286vw , 4.9375rem );
    }
}

@supports not (top: clamp( 2.5rem , -0.2857142857rem  +  5.8035714286vw , 4.9375rem )) {
    .footer__decor {
      top: calc(2.5rem + 2.4375 * (100vw - 48rem) / 42);
    }
}

@supports (right: clamp( -4.4375rem , -2.0267857143rem  +  -2.6785714286vw , -3.3125rem )) {
    .footer__decor {
      right: clamp( -4.4375rem , -2.0267857143rem  +  -2.6785714286vw , -3.3125rem );
    }
}

@supports not (right: clamp( -4.4375rem , -2.0267857143rem  +  -2.6785714286vw , -3.3125rem )) {
    .footer__decor {
      right: calc(-3.3125rem + -1.125 * (100vw - 48rem) / 42);
    }
}

@supports (width: clamp( 12.1875rem , 0.9732142857rem  +  23.3630952381vw , 22rem )) {
    .footer__decor {
      width: clamp( 12.1875rem , 0.9732142857rem  +  23.3630952381vw , 22rem );
    }
}

@supports not (width: clamp( 12.1875rem , 0.9732142857rem  +  23.3630952381vw , 22rem )) {
    .footer__decor {
      width: calc(12.1875rem + 9.8125 * (100vw - 48rem) / 42);
    }
}

@supports (gap: clamp( 0.6875rem , -0.0982142857rem  +  1.6369047619vw , 1.375rem )) {
    .footer__form {
      gap: clamp( 0.6875rem , -0.0982142857rem  +  1.6369047619vw , 1.375rem );
    }
}

@supports not (gap: clamp( 0.6875rem , -0.0982142857rem  +  1.6369047619vw , 1.375rem )) {
    .footer__form {
      gap: calc(0.6875rem + 0.6875 * (100vw - 48rem) / 42);
    }
}

@supports (max-width: clamp( 27.125rem , -2.0178571429rem  +  60.7142857143vw , 52.625rem )) {
    .footer__form {
      max-width: clamp( 27.125rem , -2.0178571429rem  +  60.7142857143vw , 52.625rem );
    }
}

@supports not (max-width: clamp( 27.125rem , -2.0178571429rem  +  60.7142857143vw , 52.625rem )) {
    .footer__form {
      max-width: calc(27.125rem + 25.5 * (100vw - 48rem) / 42);
    }
}

@supports (margin-bottom: clamp( 1.9375rem , 0.9375rem  +  2.0833333333vw , 2.8125rem )) {
    .footer__form {
      margin-bottom: clamp( 1.9375rem , 0.9375rem  +  2.0833333333vw , 2.8125rem );
    }
}

@supports not (margin-bottom: clamp( 1.9375rem , 0.9375rem  +  2.0833333333vw , 2.8125rem )) {
    .footer__form {
      margin-bottom: calc(1.9375rem + 0.875 * (100vw - 48rem) / 42);
    }
}

@supports (font-size: clamp( 1.75rem , 1.25rem  +  1.0416666667vw , 2.1875rem )) {
    .intro__text {
      font-size: clamp( 1.75rem , 1.25rem  +  1.0416666667vw , 2.1875rem );
    }
}

@supports not (font-size: clamp( 1.75rem , 1.25rem  +  1.0416666667vw , 2.1875rem )) {
    .intro__text {
      font-size: calc(1.75rem + 0.4375 * (100vw - 48rem) / 42);
    }
}

@supports (font-size: clamp( 1.75rem , 0.3214285714rem  +  2.9761904762vw , 3rem )) {
    .services__item p {
      font-size: clamp( 1.75rem , 0.3214285714rem  +  2.9761904762vw , 3rem );
    }
}

@supports not (font-size: clamp( 1.75rem , 0.3214285714rem  +  2.9761904762vw , 3rem )) {
    .services__item p {
      font-size: calc(1.75rem + 1.25 * (100vw - 48rem) / 42);
    }
}

@supports (top: clamp( -3.125rem , -7.4107142857rem  +  8.9285714286vw , 0.625rem )) {
    .services__item .services__decor {
      top: clamp( -3.125rem , -7.4107142857rem  +  8.9285714286vw , 0.625rem );
    }
}

@supports not (top: clamp( -3.125rem , -7.4107142857rem  +  8.9285714286vw , 0.625rem )) {
    .services__item .services__decor {
      top: calc(-3.125rem + 3.75 * (100vw - 48rem) / 42);
    }
}

@supports (right: clamp( 1.375rem , 0.7321428571rem  +  1.3392857143vw , 1.9375rem )) {
    .services__item .services__decor {
      right: clamp( 1.375rem , 0.7321428571rem  +  1.3392857143vw , 1.9375rem );
    }
}

@supports not (right: clamp( 1.375rem , 0.7321428571rem  +  1.3392857143vw , 1.9375rem )) {
    .services__item .services__decor {
      right: calc(1.375rem + 0.5625 * (100vw - 48rem) / 42);
    }
}

@supports (width: clamp( 5.5625rem , -0.1517857143rem  +  11.9047619048vw , 10.5625rem )) {
    .services__item .services__decor {
      width: clamp( 5.5625rem , -0.1517857143rem  +  11.9047619048vw , 10.5625rem );
    }
}

@supports not (width: clamp( 5.5625rem , -0.1517857143rem  +  11.9047619048vw , 10.5625rem )) {
    .services__item .services__decor {
      width: calc(5.5625rem + 5 * (100vw - 48rem) / 42);
    }
}

@supports (top: clamp( 1.875rem , -5.9821428571rem  +  16.369047619vw , 8.75rem )) {
    .services__item .services__decor-big {
      top: clamp( 1.875rem , -5.9821428571rem  +  16.369047619vw , 8.75rem );
    }
}

@supports not (top: clamp( 1.875rem , -5.9821428571rem  +  16.369047619vw , 8.75rem )) {
    .services__item .services__decor-big {
      top: calc(1.875rem + 6.875 * (100vw - 48rem) / 42);
    }
}

@supports (right: clamp( 1.1875rem , -10.2410714286rem  +  23.8095238095vw , 11.1875rem )) {
    .services__item .services__decor-big {
      right: clamp( 1.1875rem , -10.2410714286rem  +  23.8095238095vw , 11.1875rem );
    }
}

@supports not (right: clamp( 1.1875rem , -10.2410714286rem  +  23.8095238095vw , 11.1875rem )) {
    .services__item .services__decor-big {
      right: calc(1.1875rem + 10 * (100vw - 48rem) / 42);
    }
}

@supports (width: clamp( 12.625rem , 7.1964285714rem  +  11.3095238095vw , 17.375rem )) {
    .services__item .services__decor-big {
      width: clamp( 12.625rem , 7.1964285714rem  +  11.3095238095vw , 17.375rem );
    }
}

@supports not (width: clamp( 12.625rem , 7.1964285714rem  +  11.3095238095vw , 17.375rem )) {
    .services__item .services__decor-big {
      width: calc(12.625rem + 4.75 * (100vw - 48rem) / 42);
    }
}

@supports (top: clamp( 3.5625rem , -10.4375rem  +  29.1666666667vw , 15.8125rem )) {
    .services__item.active .services__decor {
      top: clamp( 3.5625rem , -10.4375rem  +  29.1666666667vw , 15.8125rem );
    }
}

@supports not (top: clamp( 3.5625rem , -10.4375rem  +  29.1666666667vw , 15.8125rem )) {
    .services__item.active .services__decor {
      top: calc(3.5625rem + 12.25 * (100vw - 48rem) / 42);
    }
}

@supports (right: clamp( 1.375rem , 0.7321428571rem  +  1.3392857143vw , 1.9375rem )) {
    .services__item.active .services__decor {
      right: clamp( 1.375rem , 0.7321428571rem  +  1.3392857143vw , 1.9375rem );
    }
}

@supports not (right: clamp( 1.375rem , 0.7321428571rem  +  1.3392857143vw , 1.9375rem )) {
    .services__item.active .services__decor {
      right: calc(1.375rem + 0.5625 * (100vw - 48rem) / 42);
    }
}

@supports (top: clamp( 9.9375rem , -6.9910714286rem  +  35.2678571429vw , 24.75rem )) {
    .services__item.active .services__decor-big {
      top: clamp( 9.9375rem , -6.9910714286rem  +  35.2678571429vw , 24.75rem );
    }
}

@supports not (top: clamp( 9.9375rem , -6.9910714286rem  +  35.2678571429vw , 24.75rem )) {
    .services__item.active .services__decor-big {
      top: calc(9.9375rem + 14.8125 * (100vw - 48rem) / 42);
    }
}

@supports (right: clamp( 1.1875rem , -10.2410714286rem  +  23.8095238095vw , 11.1875rem )) {
    .services__item.active .services__decor-big {
      right: clamp( 1.1875rem , -10.2410714286rem  +  23.8095238095vw , 11.1875rem );
    }
}

@supports not (right: clamp( 1.1875rem , -10.2410714286rem  +  23.8095238095vw , 11.1875rem )) {
    .services__item.active .services__decor-big {
      right: calc(1.1875rem + 10 * (100vw - 48rem) / 42);
    }
}

@supports (font-size: clamp( 1.5rem , -0.2142857143rem  +  3.5714285714vw , 3rem )) {
    .services__show-more {
      font-size: clamp( 1.5rem , -0.2142857143rem  +  3.5714285714vw , 3rem );
    }
}

@supports not (font-size: clamp( 1.5rem , -0.2142857143rem  +  3.5714285714vw , 3rem )) {
    .services__show-more {
      font-size: calc(1.5rem + 1.5 * (100vw - 48rem) / 42);
    }
}
}

@media (max-width: 47.99875em) and (min-width: 94.0625em) {
  h2 {
    font-size: 2rem;
  }

  h2 span {
    font-size: 1.625rem;
  }

  input,
  textarea {
    padding: 0.75rem;
  }

  input,
  textarea {
    font-size: 1.25rem;
  }

  form button {
    padding-top: 0.625rem;
  }

  form button {
    padding-bottom: 0.625rem;
  }

  form button {
    padding-left: 0.9375rem;
  }

  form button {
    padding-right: 4.375rem;
  }

  form button {
    font-size: 1.5rem;
  }

  .footer {
    padding-top: 2.875rem;
  }

  .footer {
    padding-bottom: 15.5625rem;
  }

  .footer__decor {
    top: 2.5rem;
  }

  .footer__decor {
    right: -3.3125rem;
  }

  .footer__decor {
    width: 12.1875rem;
  }

  .footer__form {
    max-width: 27.125rem;
  }

  .footer__form {
    margin-bottom: 1.875rem;
  }

  .services__item .services__decor {
    top: -3.125rem;
  }

  .services__item .services__decor {
    right: 1.375rem;
  }

  .services__item .services__decor {
    width: 5.5625rem;
  }

  .services__item .services__decor-big {
    top: 1.875rem;
  }

  .services__item .services__decor-big {
    right: 1.1875rem;
  }

  .services__item .services__decor-big {
    width: 12.625rem;
  }

  .services__item.active .services__decor {
    top: 4.8125rem;
  }

  .services__item.active .services__decor {
    right: 1.375rem;
  }

  .services__item.active .services__decor-big {
    top: 11.8125rem;
  }

  .services__item.active .services__decor-big {
    right: 1.1875rem;
  }
}

@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 94.0625em) {
@supports (font-size: clamp( 1.625rem , 1.5237341772rem  +  0.5063291139vw , 2rem )) {
    h2 {
      font-size: clamp( 1.625rem , 1.5237341772rem  +  0.5063291139vw , 2rem );
    }
}

@supports not (font-size: clamp( 1.625rem , 1.5237341772rem  +  0.5063291139vw , 2rem )) {
    h2 {
      font-size: calc(1.625rem + 0.375 * (100vw - 20rem) / 74.0625);
    }
}

@supports (font-size: clamp( 1.125rem , 0.989978903rem  +  0.6751054852vw , 1.625rem )) {
    h2 span {
      font-size: clamp( 1.125rem , 0.989978903rem  +  0.6751054852vw , 1.625rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 0.989978903rem  +  0.6751054852vw , 1.625rem )) {
    h2 span {
      font-size: calc(1.125rem + 0.5 * (100vw - 20rem) / 74.0625);
    }
}

@supports (padding: clamp( 0.625rem , 0.5912447257rem  +  0.1687763713vw , 0.75rem )) {
    input,
    textarea {
      padding: clamp( 0.625rem , 0.5912447257rem  +  0.1687763713vw , 0.75rem );
    }
}

@supports not (padding: clamp( 0.625rem , 0.5912447257rem  +  0.1687763713vw , 0.75rem )) {
    input,
    textarea {
      padding: calc(0.625rem + 0.125 * (100vw - 20rem) / 74.0625);
    }
}

@supports (font-size: clamp( 1.125rem , 1.0912447257rem  +  0.1687763713vw , 1.25rem )) {
    input,
    textarea {
      font-size: clamp( 1.125rem , 1.0912447257rem  +  0.1687763713vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 1.0912447257rem  +  0.1687763713vw , 1.25rem )) {
    input,
    textarea {
      font-size: calc(1.125rem + 0.125 * (100vw - 20rem) / 74.0625);
    }
}

@supports (padding-top: clamp( 0.5rem , 0.4662447257rem  +  0.1687763713vw , 0.625rem )) {
    form button {
      padding-top: clamp( 0.5rem , 0.4662447257rem  +  0.1687763713vw , 0.625rem );
    }
}

@supports not (padding-top: clamp( 0.5rem , 0.4662447257rem  +  0.1687763713vw , 0.625rem )) {
    form button {
      padding-top: calc(0.5rem + 0.125 * (100vw - 20rem) / 74.0625);
    }
}

@supports (padding-bottom: clamp( 0.5rem , 0.4662447257rem  +  0.1687763713vw , 0.625rem )) {
    form button {
      padding-bottom: clamp( 0.5rem , 0.4662447257rem  +  0.1687763713vw , 0.625rem );
    }
}

@supports not (padding-bottom: clamp( 0.5rem , 0.4662447257rem  +  0.1687763713vw , 0.625rem )) {
    form button {
      padding-bottom: calc(0.5rem + 0.125 * (100vw - 20rem) / 74.0625);
    }
}

@supports (padding-left: clamp( 0.75rem , 0.6993670886rem  +  0.253164557vw , 0.9375rem )) {
    form button {
      padding-left: clamp( 0.75rem , 0.6993670886rem  +  0.253164557vw , 0.9375rem );
    }
}

@supports not (padding-left: clamp( 0.75rem , 0.6993670886rem  +  0.253164557vw , 0.9375rem )) {
    form button {
      padding-left: calc(0.75rem + 0.1875 * (100vw - 20rem) / 74.0625);
    }
}

@supports (padding-right: clamp( 3.125rem , 2.7874472574rem  +  1.6877637131vw , 4.375rem )) {
    form button {
      padding-right: clamp( 3.125rem , 2.7874472574rem  +  1.6877637131vw , 4.375rem );
    }
}

@supports not (padding-right: clamp( 3.125rem , 2.7874472574rem  +  1.6877637131vw , 4.375rem )) {
    form button {
      padding-right: calc(3.125rem + 1.25 * (100vw - 20rem) / 74.0625);
    }
}

@supports (font-size: clamp( 1.25rem , 1.1824894515rem  +  0.3375527426vw , 1.5rem )) {
    form button {
      font-size: clamp( 1.25rem , 1.1824894515rem  +  0.3375527426vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 1.1824894515rem  +  0.3375527426vw , 1.5rem )) {
    form button {
      font-size: calc(1.25rem + 0.25 * (100vw - 20rem) / 74.0625);
    }
}

@supports (padding-top: clamp( 1.5625rem , 1.2080696203rem  +  1.7721518987vw , 2.875rem )) {
    .footer {
      padding-top: clamp( 1.5625rem , 1.2080696203rem  +  1.7721518987vw , 2.875rem );
    }
}

@supports not (padding-top: clamp( 1.5625rem , 1.2080696203rem  +  1.7721518987vw , 2.875rem )) {
    .footer {
      padding-top: calc(1.5625rem + 1.3125 * (100vw - 20rem) / 74.0625);
    }
}

@supports (padding-bottom: clamp( 9.375rem , 7.7041139241rem  +  8.3544303797vw , 15.5625rem )) {
    .footer {
      padding-bottom: clamp( 9.375rem , 7.7041139241rem  +  8.3544303797vw , 15.5625rem );
    }
}

@supports not (padding-bottom: clamp( 9.375rem , 7.7041139241rem  +  8.3544303797vw , 15.5625rem )) {
    .footer {
      padding-bottom: calc(9.375rem + 6.1875 * (100vw - 20rem) / 74.0625);
    }
}

@supports (top: clamp( 1.25rem , 0.9124472574rem  +  1.6877637131vw , 2.5rem )) {
    .footer__decor {
      top: clamp( 1.25rem , 0.9124472574rem  +  1.6877637131vw , 2.5rem );
    }
}

@supports not (top: clamp( 1.25rem , 0.9124472574rem  +  1.6877637131vw , 2.5rem )) {
    .footer__decor {
      top: calc(1.25rem + 1.25 * (100vw - 20rem) / 74.0625);
    }
}

@supports (right: clamp( -3.3125rem , -2.2805907173rem  +  -1.0970464135vw , -2.5rem )) {
    .footer__decor {
      right: clamp( -3.3125rem , -2.2805907173rem  +  -1.0970464135vw , -2.5rem );
    }
}

@supports not (right: clamp( -3.3125rem , -2.2805907173rem  +  -1.0970464135vw , -2.5rem )) {
    .footer__decor {
      right: calc(-2.5rem + -0.8125 * (100vw - 20rem) / 74.0625);
    }
}

@supports (width: clamp( 8.75rem , 7.8217299578rem  +  4.641350211vw , 12.1875rem )) {
    .footer__decor {
      width: clamp( 8.75rem , 7.8217299578rem  +  4.641350211vw , 12.1875rem );
    }
}

@supports not (width: clamp( 8.75rem , 7.8217299578rem  +  4.641350211vw , 12.1875rem )) {
    .footer__decor {
      width: calc(8.75rem + 3.4375 * (100vw - 20rem) / 74.0625);
    }
}

@supports (max-width: clamp( 17.5rem , 14.9008438819rem  +  12.9957805907vw , 27.125rem )) {
    .footer__form {
      max-width: clamp( 17.5rem , 14.9008438819rem  +  12.9957805907vw , 27.125rem );
    }
}

@supports not (max-width: clamp( 17.5rem , 14.9008438819rem  +  12.9957805907vw , 27.125rem )) {
    .footer__form {
      max-width: calc(17.5rem + 9.625 * (100vw - 20rem) / 74.0625);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 1.0812236287rem  +  0.8438818565vw , 1.875rem )) {
    .footer__form {
      margin-bottom: clamp( 1.25rem , 1.0812236287rem  +  0.8438818565vw , 1.875rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 1.0812236287rem  +  0.8438818565vw , 1.875rem )) {
    .footer__form {
      margin-bottom: calc(1.25rem + 0.625 * (100vw - 20rem) / 74.0625);
    }
}

@supports (top: clamp( -3.125rem , -1.5374472574rem  +  -1.6877637131vw , -1.875rem )) {
    .services__item .services__decor {
      top: clamp( -3.125rem , -1.5374472574rem  +  -1.6877637131vw , -1.875rem );
    }
}

@supports not (top: clamp( -3.125rem , -1.5374472574rem  +  -1.6877637131vw , -1.875rem )) {
    .services__item .services__decor {
      top: calc(-1.875rem + -1.25 * (100vw - 20rem) / 74.0625);
    }
}

@supports (right: clamp( -0.9375rem , -1.5619725738rem  +  3.1223628692vw , 1.375rem )) {
    .services__item .services__decor {
      right: clamp( -0.9375rem , -1.5619725738rem  +  3.1223628692vw , 1.375rem );
    }
}

@supports not (right: clamp( -0.9375rem , -1.5619725738rem  +  3.1223628692vw , 1.375rem )) {
    .services__item .services__decor {
      right: calc(-0.9375rem + 2.3125 * (100vw - 20rem) / 74.0625);
    }
}

@supports (width: clamp( 2.8125rem , 2.0698839662rem  +  3.7130801688vw , 5.5625rem )) {
    .services__item .services__decor {
      width: clamp( 2.8125rem , 2.0698839662rem  +  3.7130801688vw , 5.5625rem );
    }
}

@supports not (width: clamp( 2.8125rem , 2.0698839662rem  +  3.7130801688vw , 5.5625rem )) {
    .services__item .services__decor {
      width: calc(2.8125rem + 2.75 * (100vw - 20rem) / 74.0625);
    }
}

@supports (top: clamp( 1.25rem , 1.0812236287rem  +  0.8438818565vw , 1.875rem )) {
    .services__item .services__decor-big {
      top: clamp( 1.25rem , 1.0812236287rem  +  0.8438818565vw , 1.875rem );
    }
}

@supports not (top: clamp( 1.25rem , 1.0812236287rem  +  0.8438818565vw , 1.875rem )) {
    .services__item .services__decor-big {
      top: calc(1.25rem + 0.625 * (100vw - 20rem) / 74.0625);
    }
}

@supports (right: clamp( -0.75rem , -1.2732067511rem  +  2.6160337553vw , 1.1875rem )) {
    .services__item .services__decor-big {
      right: clamp( -0.75rem , -1.2732067511rem  +  2.6160337553vw , 1.1875rem );
    }
}

@supports not (right: clamp( -0.75rem , -1.2732067511rem  +  2.6160337553vw , 1.1875rem )) {
    .services__item .services__decor-big {
      right: calc(-0.75rem + 1.9375 * (100vw - 20rem) / 74.0625);
    }
}

@supports (width: clamp( 6.875rem , 5.322257384rem  +  7.7637130802vw , 12.625rem )) {
    .services__item .services__decor-big {
      width: clamp( 6.875rem , 5.322257384rem  +  7.7637130802vw , 12.625rem );
    }
}

@supports not (width: clamp( 6.875rem , 5.322257384rem  +  7.7637130802vw , 12.625rem )) {
    .services__item .services__decor-big {
      width: calc(6.875rem + 5.75 * (100vw - 20rem) / 74.0625);
    }
}

@supports (top: clamp( 1.25rem , 0.2879746835rem  +  4.8101265823vw , 4.8125rem )) {
    .services__item.active .services__decor {
      top: clamp( 1.25rem , 0.2879746835rem  +  4.8101265823vw , 4.8125rem );
    }
}

@supports not (top: clamp( 1.25rem , 0.2879746835rem  +  4.8101265823vw , 4.8125rem )) {
    .services__item.active .services__decor {
      top: calc(1.25rem + 3.5625 * (100vw - 20rem) / 74.0625);
    }
}

@supports (right: clamp( -0.9375rem , -1.5619725738rem  +  3.1223628692vw , 1.375rem )) {
    .services__item.active .services__decor {
      right: clamp( -0.9375rem , -1.5619725738rem  +  3.1223628692vw , 1.375rem );
    }
}

@supports not (right: clamp( -0.9375rem , -1.5619725738rem  +  3.1223628692vw , 1.375rem )) {
    .services__item.active .services__decor {
      right: calc(-0.9375rem + 2.3125 * (100vw - 20rem) / 74.0625);
    }
}

@supports (top: clamp( 6.25rem , 4.7478902954rem  +  7.5105485232vw , 11.8125rem )) {
    .services__item.active .services__decor-big {
      top: clamp( 6.25rem , 4.7478902954rem  +  7.5105485232vw , 11.8125rem );
    }
}

@supports not (top: clamp( 6.25rem , 4.7478902954rem  +  7.5105485232vw , 11.8125rem )) {
    .services__item.active .services__decor-big {
      top: calc(6.25rem + 5.5625 * (100vw - 20rem) / 74.0625);
    }
}

@supports (right: clamp( -0.75rem , -1.2732067511rem  +  2.6160337553vw , 1.1875rem )) {
    .services__item.active .services__decor-big {
      right: clamp( -0.75rem , -1.2732067511rem  +  2.6160337553vw , 1.1875rem );
    }
}

@supports not (right: clamp( -0.75rem , -1.2732067511rem  +  2.6160337553vw , 1.1875rem )) {
    .services__item.active .services__decor-big {
      right: calc(-0.75rem + 1.9375 * (100vw - 20rem) / 74.0625);
    }
}
}

@media (min-width: 20em) and (max-width: 94.0625em) {
@supports (margin-bottom: clamp( 2.5rem , 1.3185654008rem  +  5.9071729958vw , 6.875rem )) {
    ._section-header {
      margin-bottom: clamp( 2.5rem , 1.3185654008rem  +  5.9071729958vw , 6.875rem );
    }
}

@supports not (margin-bottom: clamp( 2.5rem , 1.3185654008rem  +  5.9071729958vw , 6.875rem )) {
    ._section-header {
      margin-bottom: calc(2.5rem + 4.375 * (100vw - 20rem) / 74.0625);
    }
}

@supports (padding-top: clamp( 0.8125rem , 0.4074367089rem  +  2.0253164557vw , 2.3125rem )) {
    ._section-header h3 {
      padding-top: clamp( 0.8125rem , 0.4074367089rem  +  2.0253164557vw , 2.3125rem );
    }
}

@supports not (padding-top: clamp( 0.8125rem , 0.4074367089rem  +  2.0253164557vw , 2.3125rem )) {
    ._section-header h3 {
      padding-top: calc(0.8125rem + 1.5 * (100vw - 20rem) / 74.0625);
    }
}

@supports (padding-bottom: clamp( 0.8125rem , 0.4074367089rem  +  2.0253164557vw , 2.3125rem )) {
    ._section-header h3 {
      padding-bottom: clamp( 0.8125rem , 0.4074367089rem  +  2.0253164557vw , 2.3125rem );
    }
}

@supports not (padding-bottom: clamp( 0.8125rem , 0.4074367089rem  +  2.0253164557vw , 2.3125rem )) {
    ._section-header h3 {
      padding-bottom: calc(0.8125rem + 1.5 * (100vw - 20rem) / 74.0625);
    }
}

@supports (height: clamp( 4.0625rem , 2.6279008439rem  +  7.1729957806vw , 9.375rem )) {
    ._section-logo {
      height: clamp( 4.0625rem , 2.6279008439rem  +  7.1729957806vw , 9.375rem );
    }
}

@supports not (height: clamp( 4.0625rem , 2.6279008439rem  +  7.1729957806vw , 9.375rem )) {
    ._section-logo {
      height: calc(4.0625rem + 5.3125 * (100vw - 20rem) / 74.0625);
    }
}

@supports (gap: clamp( 3.75rem , 2.7373417722rem  +  5.0632911392vw , 7.5rem )) {
    .menu__list {
      gap: clamp( 3.75rem , 2.7373417722rem  +  5.0632911392vw , 7.5rem );
    }
}

@supports not (gap: clamp( 3.75rem , 2.7373417722rem  +  5.0632911392vw , 7.5rem )) {
    .menu__list {
      gap: calc(3.75rem + 3.75 * (100vw - 20rem) / 74.0625);
    }
}

@supports (margin-top: clamp( 1.875rem , 1.7062236287rem  +  0.8438818565vw , 2.5rem )) {
    .intro__text {
      margin-top: clamp( 1.875rem , 1.7062236287rem  +  0.8438818565vw , 2.5rem );
    }
}

@supports not (margin-top: clamp( 1.875rem , 1.7062236287rem  +  0.8438818565vw , 2.5rem )) {
    .intro__text {
      margin-top: calc(1.875rem + 0.625 * (100vw - 20rem) / 74.0625);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 1.7062236287rem  +  0.8438818565vw , 2.5rem )) {
    .intro__text {
      margin-bottom: clamp( 1.875rem , 1.7062236287rem  +  0.8438818565vw , 2.5rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 1.7062236287rem  +  0.8438818565vw , 2.5rem )) {
    .intro__text {
      margin-bottom: calc(1.875rem + 0.625 * (100vw - 20rem) / 74.0625);
    }
}

@supports (margin-bottom: clamp( 2.5rem , 1.4873417722rem  +  5.0632911392vw , 6.25rem )) {
    .services__item {
      margin-bottom: clamp( 2.5rem , 1.4873417722rem  +  5.0632911392vw , 6.25rem );
    }
}

@supports not (margin-bottom: clamp( 2.5rem , 1.4873417722rem  +  5.0632911392vw , 6.25rem )) {
    .services__item {
      margin-bottom: calc(2.5rem + 3.75 * (100vw - 20rem) / 74.0625);
    }
}
}

@media (min-width: 48em) and (max-width: 90.5625em) {
@supports (font-size: clamp( 1.5rem , 0.654185022rem  +  1.7621145374vw , 2.25rem )) {
    form button {
      font-size: clamp( 1.5rem , 0.654185022rem  +  1.7621145374vw , 2.25rem );
    }
}

@supports not (font-size: clamp( 1.5rem , 0.654185022rem  +  1.7621145374vw , 2.25rem )) {
    form button {
      font-size: calc(1.5rem + 0.75 * (100vw - 48rem) / 42.5625);
    }
}
}

@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 48em) {
@supports (font-size: clamp( 7.1875rem , 1.1607142857rem  +  30.1339285714vw , 15.625rem )) {
    .intro__left h1 {
      font-size: clamp( 7.1875rem , 1.1607142857rem  +  30.1339285714vw , 15.625rem );
    }
}

@supports not (font-size: clamp( 7.1875rem , 1.1607142857rem  +  30.1339285714vw , 15.625rem )) {
    .intro__left h1 {
      font-size: calc(7.1875rem + 8.4375 * (100vw - 20rem) / 28);
    }
}
}

@media (max-width: 78.125em) and (min-width: 90em) {
  .intro__left {
    height: 87.5rem;
  }
}

@media (max-width: 78.125em) and (min-width: 48em) and (max-width: 90em) {
@supports (height: clamp( 62.5rem , 33.9285714286rem  +  59.5238095238vw , 87.5rem )) {
    .intro__left {
      height: clamp( 62.5rem , 33.9285714286rem  +  59.5238095238vw , 87.5rem );
    }
}

@supports not (height: clamp( 62.5rem , 33.9285714286rem  +  59.5238095238vw , 87.5rem )) {
    .intro__left {
      height: calc(62.5rem + 25 * (100vw - 48rem) / 42);
    }
}
}

@media (any-hover: hover) {
  form button:hover {
    background: #E9E5DC;
  }
}